<div class="container">
  <div class="row pt-3">
    <div class="col-4">
      <h4>Student Portal</h4>
    </div>
    <div class="col-8 text-end">
      <button class="btn btn-outline-success" (click)="OpenModal()">Add</button>
    </div>
  </div>
  <div class="row">
    @for (item of localStudents; track $index) {
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">{{item.name}}</div>
              <div class="col-6 text-end">NO {{item.NO}}</div>
            </div>
          </div>
          <div class="card-body">
            <p>{{item.city}}, {{item.state}}, {{item.pinCode}}</p>
            <p>{{item.address}}</p>
          </div>
          <div class="card-footer text-center">
            <p>{{item.email}}</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal" #myModal tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog overlay">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter Your Name"
              [(ngModel)]="studentObj.name"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="no"
              placeholder="Enter Your Number"
              [(ngModel)]="studentObj.NO"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter Your Email"
              [(ngModel)]="studentObj.email"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <input
              type="city"
              class="form-control"
              id="city"
              placeholder="Enter Your City"
              [(ngModel)]="studentObj.city"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="state"
              placeholder="Enter Your State"
              [(ngModel)]="studentObj.state"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <input
              type="nunber"
              class="form-control"
              id="pin"
              placeholder="Enter Your Pin Code"
              [(ngModel)]="studentObj.pinCode"
              [ngModelOptions]="{standalone: true}"
            />
          </div>
          <div class="form-group">
            <textarea
              type="text"
              multiple
              class="form-control"
              id="address"
              placeholder="Enter Your Address"
              [(ngModel)]="studentObj.address"
              [ngModelOptions]="{standalone: true}"
            >
            </textarea>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="CloseModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="onSave()"
        >
          Save Student
        </button>
      </div>
    </div>
  </div>
</div>
